/export/DATA           S1(rw,sync,no_subtree_check)           S2(rw,sync,no_subtree_check)
/export/WWW        S1(rw,sync,fsid=0,crossmnt,no_subtree_check,no_root_squash)           S2(rw,sync,fsid=0,crossmnt,no_subtree_check,no_root_squash)
