global
 daemon
 maxconn 256

defaults
 mode http
 timeout connect 5000ms
 timeout client 50000ms
 timeout server 50000ms

frontend proxy
 bind *:80
 default_backend backendnodes

backend backendnodes
 balance roundrobin
 server node1 S1.infra:80 check cookie node1
 server node2 S2.infra:80 check cookie node2
