---

- name: Update repositories cache and install "apache2/php7/mariadb-client/nfs-common/cifs-utils" packages
  apt:
    name: "{{ item }}"
    state: present
    update_cache: yes
  loop:
     - apache2
     - php7.3
     - php7.3-mysql
     - php7.3-curl
     - mariadb-client
     - nfs-common
     - cifs-utils
